{% load static %}
<html>
    <head>
        <title>electroniclist</title>
    </head>
    <body><form >
        <table border="1">
            <tr>
                <td>product name</td>
                <td>brand name</td>
                <td>country of orgin</td>
                <td>quality</td>
                <td>material</td>
                <td>colour</td>
                <td>price</td>
                <td>description</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.product_name}}</td>
                <td>{{i.brand_name}}</td>
                <td>{{i.country}}</td>
                <td>{{i.quality}}</td>
                <td>{{i.material}}</td>
                <td>{{i.color}}</td>
                <td>{{i.price}}</td>
                <td>{{i.description}}</td>
            </tr>
            {% endfor %}
        </table>
        </form>

    </body>
</html>