{% load static %}
<!DOCTYPE html>
<html lang="en">

   <head>
<style>
        /* Add or modify card styles here */
        .product-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            cursor: pointer; /* Change cursor to indicate clickable element */
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .card-details h2 {
            margin-bottom: 5px;
            font-size: 18px;
            color: #333;
        }

        .card-details p {
            font-size: 14px;
            color: #666;
        }
        .card .card-img {
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
}

/* Ensure images maintain their aspect ratio */
.card .card-img img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
}
    </style>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>qr_scanner</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->

      <link rel="stylesheet" type="text/css" href="css/starability-all.min.css"/>
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesoeet" href="{% static 'css/owl.theme.default.min.css'%}">
      <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
   </head>
   <body>
      <!-- banner bg main start -->
      <div class=" banner_bg_main">
         <!-- <img src = "{% static 'images/shop.jpg' %}"> -->
         
         <!-- header top section start -->
         <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                        <img src="{% static 'images/Lulu_Hypermarket_logo.png' %}" height="100" width="100">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo section end -->
         <!-- header section start -->
         <div class="header_section">
            <div class="container">
               <div class="containt_main">
                  <div id="mySidenav" class="sidenav">
                     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                     <!-- <a href="/register/">Register</a> -->
                     <!-- <a href="/login/">login</a> -->

                     <a href="/groundfloor/">Ground Floor</a>
                     <a href="/firstfloor/">First Floor</a>
                     <a href="/secondfloor/">Second Floor</a>
                      <a href="/ratings/">Rating</a>

                  </div>
                  <span class="toggle_icon" onclick="openNav()"><img src="{% static 'images/toggle-icon.png' %}"></span>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category 
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/search_category/fashion">Fashion</a>
                        <a class="dropdown-item" href="/search_category/electroni">Electronic</a>
                        <a class="dropdown-item" href="/search_category/food">Food Cart</a>
                        <a class="dropdown-item" href="/search_category/cosmetics">Cosmetics</a>
                        <a class="dropdown-item" href="/search_category/jewellery">Jewellery</a>
                         <a class="dropdown-item" href="/search_category/theater">Theater</a>
                        <a class="dropdown-item" href="/search_category/funtora">Entertainment</a>
                     </div>
                  </div>
                  <div class="main">
                     <!-- Another variation with a button -->
                     <div class="input-group">
<!--                        <input type="text" class="form-control" placeholder="Search this blog">-->
                        <div class="input-group-append">
<!--                           <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">-->
                           <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </div>
                     <form action="{% url 'search_results' %}" method="GET">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search this blog">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" style="background-color: #f26522; border-color:#f26522">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
                  </div>
                  <div class="header_box">
                     <div class="lang_box ">
                        <!-- <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="{% static 'images/flag-uk.png' %}" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i> -->
                        </a>
                        <div class="dropdown-menu ">
                           <!-- <a href="#" class="dropdown-item">
                           <img src="{% static 'images/flag-france.png' %}" class="mr-2" alt="flag">
                           French
                           </a> -->
                        </div>
                     </div>
                     <div class="login_menu">
                        <ul>
                           <!-- <li><a href="#">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Cart</span></a>
                           </li>
                           <li><a href="#">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Cart</span></a>
                           </li> -->
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- header section end -->
         <!-- banner section start -->
         <!-- ... (Your existing HTML code) ... -->
<div class="main">
    <!-- Search Form -->

    <!-- Search Results Section -->

<!-- ... (Remaining HTML code) ... -->

         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favorite shopping</h1>
                              <div class="buynow_bt"><br><br><br><br></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favorite shopping</h1>
                              <div class="buynow_bt"><br><br><br><br></div>
                           </div> 
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favorite shopping</h1>
                              <div class="buynow_bt"><br><br><br><br></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- banner bg main end -->
       <div class="product-cards">
        {% if results %}
            {% for i in results %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row mt-4">
                {% endif %}

                <div class="col-md-4">
                    <div class="card">
                        <!-- Card details -->

                        <div class="card-details">
                      
                            <a href="/product/{{ i.pk }}/">
                            <h2>{{ i.shopowner_name }}</h2>
                        <h4>Shop Name- {{ i.shop_name }}</h4>
                        <h4>Floor-     {{ i.floor }}</h4>
                        <h4>Rating-    {{ i.rating }} /5</h4>



                      
                            </a>
                        </div>
                    </div>
                </div>

                {% if forloop.last or forloop.counter0|add:1|divisibleby:3 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</div>
</div>
      <!-- fashion section start -->

      <!-- fashion section end -->
      <!-- electronic section start -->
      <div class="fashion_section">
         <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital"><a href="/electronic/">Electronic</a></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">APPLE STORE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static 'images/Apple Upper Canada Mall.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">CONNECT DIGITAL STORE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static '/images/connect.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">CASIO WATCHES</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static '/images/casio.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital"><a href="/electronic/">Electronic</a></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">APPLE STORE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static 'images/Apple Upper Canada Mall.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">CONNECT DIGITAL STORE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static '/images/connect.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">CASIO WATCHES</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static '/images/casio.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital"><a href="/electronic/">Electronic</a></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">APPLE STORE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static 'images/Apple Upper Canada Mall.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">CONNECT DIGITAL STORE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static '/images/connect.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div> 
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">CASIO WATCH</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="electronic_img"><img src="{% static '/images/casio.jpg' %}" class="electronicimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <!-- electronic section end -->
      <!-- jewellery  section start -->
      <div class="jewellery_section">
         <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital"><a href="/food/">FOOD COURT</a></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">KFC</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static '\images\KFC.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">MC DONALD's</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static 'images/download.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">STARBUCKS COFFEE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static '/images/Starbucks.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital"><a href="/food/">FOOD COURT</a></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">KFC</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static 'images\KFC.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">MC DONALD's</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static 'images/download.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">STARBUCKS COFFEE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static '/images/Starbucks.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital"><a href="/food/">FOOD COURT</a></h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">KFC</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static 'images\KFC.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">MC DONALD's</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static 'images/download.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">STARBUCKS COFFEE</h4>
                                 <!-- <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p> -->
                                 <div class="jewellery_img"><img src="{% static '/images/Starbucks.jpg' %}" class="foodimg"></div>
                                 <!-- <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                                    <div class="seemore_bt"><a href="#">See More</a></div>
                                 </div> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
            <div class="loader_main">
               <div class="loader"></div>
            </div>
         </div>
      </div>
      <!-- jewellery  section end -->
      <!-- footer section start -->
      <!-- <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_logo"><a href="index.html"><img src="{% static 'images/footer-logo.png' %}"></a></div>
            <div class="input_bt">
               <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
               <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
            <div class="footer_menu">
               <ul>
                  <li><a href="#">Best Sellers</a></li>
                  <li><a href="#">Gift Ideas</a></li>
                  <li><a href="#">New Releases</a></li>
                  <li><a href="#">Today's Deals</a></li>
                  <li><a href="#">Customer Service</a></li>
               </ul>
            </div>
            <div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
         </div>
      </div> -->
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text"><a href="/feedback/">FEEDBACK</a></p>
         </div>
      </div> 
      <!-- copyright section end
      Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
         }
      </script>
   </body>
</html>